<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

<listeners>
<listener class-name="com.sauceDemoProject.utilities.ExtentListenerClass"></listener>

</listeners>

  <test name="Test">
  
    <classes>
      <class name="com.sauceDemoProject.Test.BaseClass"/>
     
       <class name="com.sauceDemoProject.Test.TC_01_VerifyLoginFunctionality"/>
       <class name="com.sauceDemoProject.Test.TC_02_VerifyAddToCartFunct"/>
      <class name="com.sauceDemoProject.Test.TC_03_VerifyCheckOutFunctionality"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
